body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #e0e4fc;

}
header{
  background-color: midnightblue;
  color: rgb(214, 236, 255) ;
  padding: 10px;
  align-items: flex-start;
  margin-bottom: 20px;
}
nav{
  background-color: #eaeafa;
  text-align: center;
  padding: 10px;
}
nav a {
  text-decoration: none;
  color: navy;
  margin: 15px;
  font-weight: bold;
}
main{
padding: 10px;
}
section{
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 13px;
}
h2 {
color: navy;
}
img{
width: 150px;
height: 150px;
margin: 20px auto;
border-radius: 50%;
border: 2px solid;
margin-bottom: 1rem;
}


footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #ffda79;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}